<div>
  <!-- Because this template is used by default, we will additionally test for representation type and display accordingly -->
  <span *ngIf="(mdRepresentation.representationType=='plain_text') && !isLink()" class="dont-break-out">
    {{mdRepresentation.getValue()}}
  </span>
  <a *ngIf="(mdRepresentation.representationType=='plain_text') && isLink()" class="dont-break-out"
  target="_blank" [href]="mdRepresentation.getValue()">
    {{mdRepresentation.getValue()}}
  </a>
  <span *ngIf="(mdRepresentation.representationType=='authority_controlled')" class="dont-break-out">{{mdRepresentation.getValue()}}</span>
  <a *ngIf="(mdRepresentation.representationType=='browse_link')"
     class="dont-break-out ds-browse-link"
     [routerLink]="['/browse/', mdRepresentation.browseDefinition.id]"
     [queryParams]="getQueryParams()">
    {{mdRepresentation.getValue()}}
  </a>
  <!-- DUL CUSTOMIZATION -->
  <ng-container *ngVar="(scholarsProfile$ | async) as profileURL">
    <a *ngIf="profileURL" [href]="profileURL" class="scholars-icon-link" [ngbTooltip]="'Scholars@Duke profile'" 
      aria-label="Scholars@Duke profile" placement="bottom"></a>
  </ng-container>
  <!-- DUL CUSTOMIZATION -->
  <a *ngIf="(mdRepresentation.getAssociatedValue('duke.contributor.orcid'))" 
    [href]="'https://orcid.org/' + mdRepresentation.getAssociatedValue('duke.contributor.orcid')"
    class="orcid-badge-link" [ngbTooltip]="'ORCID profile'" aria-label="ORCID profile" placement="bottom"></a>
</div>
