<ds-metadata-field-wrapper [label]="label | translate">
    <ng-container *ngFor="let mdValue of mdValues; let last=last;">
      <!--
      Choose a template. Priority: markdown, link, browse link.
      -->
      <ng-container *ngTemplateOutlet="(renderMarkdown ? markdown : (hasLink(mdValue) ? link : (hasBrowseDefinition() ? browselink : simple)));
        context: {value: mdValue.value, last: last}">
      </ng-container>

    </ng-container>
</ds-metadata-field-wrapper>

<!-- Render value as markdown -->
<ng-template #markdown let-value="value" let-last="last">
  <span class="dont-break-out" [innerHTML]="value | dsMarkdown | async"></span><span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
</ng-template>

<!-- Render value as a link (href and label) -->
<ng-template #link let-value="value" let-last="last">
    <a class="dont-break-out ds-simple-metadata-link" target="_blank" [href]="value">
      {{value}}<span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
    </a>
</ng-template>

<!-- Render simple value in a span  -->
<ng-template #simple let-value="value" let-last="last">
  <span class="dont-break-out preserve-line-breaks">{{value}}<span class="separator" *ngIf="!last" [innerHTML]="separator"></span></span>
</ng-template>

<!-- Render value as a link to browse index -->
<!-- DUL CUSTOMIZATION: enable comma separators -->
<ng-template #browselink let-value="value" let-last="last">
  <a class="dont-break-out preserve-line-breaks ds-browse-link"
     [routerLink]="['/browse', browseDefinition.id]"
     [queryParams]="getQueryParams(value)">
    {{value}}<span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
  </a>
</ng-template>
