<header class="header">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">

      <div id="logo-col" class="d-flex">
        <a href="https://library.duke.edu" class="navbar-dul">
          <div class="navbar-logo">
            <span class="sr-only">Duke University Libraries</span>
          </div>
        </a>
        <a href="/" class="navbar-product-name text-decoration-none">
          <span class="product-name-primary">
            DukeSpace
          </span>
          <span class="product-name-secondary">
            Scholarship by Duke Authors
          </span>
        </a>
      </div>

      <nav [attr.aria-label]="'nav.user.description' | translate" class="navbar navbar-light navbar-expand-md flex-shrink-0 pl-1 pr-0 align-items-start">
        <ds-search-navbar></ds-search-navbar>
        <div role="menubar" class="h-100 d-flex flex-row flex-nowrap align-items-bottom gapx-1">
          <ds-lang-switch></ds-lang-switch>
          <ds-context-help-toggle></ds-context-help-toggle>
          <ds-themed-auth-nav-menu></ds-themed-auth-nav-menu>
          <ds-impersonate-navbar></ds-impersonate-navbar>
        </div>
        <div class="pl-2">
          <button class="navbar-toggler p-0 border border-white" type="button" (click)="toggleNavbar()"
                  aria-controls="collapsingNav"
                  aria-expanded="false" [attr.aria-label]="'nav.toggle' | translate">
            <span class="toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>
