:host {
  header {
    background-color: var(--ds-header-bg);
    padding: 1.25rem 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.06),
                0 2px 2px rgba(0,0,0,0.06),
                0 4px 4px rgba(0,0,0,0.06),
                0 8px 8px rgba(0,0,0,0.06),
                0 16px 16px rgba(0,0,0,0.06);
  }

  /* =============== */
  /* BRANDING / LOGO */
  /* =============== */

  .navbar-dul {
    margin-right: 1.25rem;
    float: left;
    @include media-breakpoint-down(md) {
      margin-right: 0.5rem;
    }
  }

  .navbar-logo {
    width: 134px;
    height: 44px;
    background-size: cover;
    background-image: url('/assets/dukespace/images/dul_logo_white.png');
    margin-right: 0;
    margin-top: 0;
    @include media-breakpoint-down(md) {
      background-image: url('/assets/dukespace/images/dul_devil_white.png');
      width: 24px;
    }
  }

  .navbar-product-name {
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    @media (max-width: 500px) {
      margin-top: 5px;
    }

    &:hover, &:active, &:focus {
      text-decoration: none;
      .product-name-secondary {
        color: $gray-100;
      }
    }
    .product-name-primary {
      display: block;
      font-weight: bold;
      font-size: 31px;
      line-height: 22px;
      margin-top: 0;
      color: white;
      @media (max-width: 500px) {
        font-size: 25px;
      }
    }
    .product-name-secondary {
      display: block;
      color: $gray-300;
      font-size: 18px;
      line-height: 1.2rem;
      margin-top: 5px;
      padding-top: 0;
      padding-left: 1px;
      @media (max-width: 500px) {
        font-size: 11px;
        margin-top: 0;
      }
    }
  }

  .navbar-toggler .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
  }

  .navbar-toggler {
    border: none;
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
      border-color: var(--ds-header-icon-color-hover) !important;
    }
  }

  .navbar {
    display: flex;
    gap: calc(var(--bs-spacer) / 3);
    align-items: center;
  }
}
