<div class="modal-header" id="submission-import-external-preview-header">
  <h1>{{'submission.import-external.preview.title.' + labelPrefix | translate}}</h1>
  <button type="button" class="close"
          (click)="closeMetadataModal()" aria-label="Close">
      <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>{{'submission.import-external.preview.subtitle' | translate}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div *ngFor="let metadata of metadataList" class="row">
      <p class="col-md-12">
        <strong class="">{{'item.preview.' + metadata.key | translate}}</strong><br>
        <ng-container *ngFor="let metadatum of metadata.values">
          <span>{{metadatum.value}}</span><br>
        </ng-container>
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-success" (click)="import()" role="button">
          <i class="fa fa-file-import" aria-hidden="true"></i> {{'submission.import-external.preview.button.import' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
