/* --------------------
    Footer Styles
----------------------- */

#footer {
  ul li {
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
  }

  a {
    color: $gray-800;
  }

  address {
    line-height: 1.1rem;
  }

  h2, .social-media-icons {
    border-bottom: 1px dotted $gray-600;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: 400;
  }

  .social-media-icons {
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    a {
      float: left;
      margin-right: 6px;
      font-size: 22px;
      padding-bottom: 11px;
      color: #666;
      &:hover {
        text-decoration: none;
        &.fa-linkedin {
          color: #0077b5;
        }
        &.fa-facebook {
         color: #4267b2;
        }
        &.fa-youtube {
         color: #ff0000;
        }
        &.fa-flickr {
          color: #ec0f80;
        }
        &.fa-instagram {
          color: #7324c2;
        }
        &.fa-rss-square {
          color: #e27800;
        }
      }
    }
  }
}
