<footer id="footer" role="contentinfo" class="mt-5 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-1 mb-3">
        <a href="https://library.duke.edu"><img alt="Duke University Libraries" src="/assets/dukespace/images/dul_devil_gray.png"></a>
      </div>
      <div class="col-md-2 mb-3">
        <h2><a href="https://library.duke.edu/about/contact">Contact Us</a></h2>
        <div>
          <small>411 Chapel Drive<br>Durham, NC 27708<br>(919) 660-5870<br>Perkins Library Service Desk</small>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <h2><a href="https://repository.duke.edu">Digital Repositories at Duke</a></h2>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled">
                <li><a href="https://duke.qualtrics.com/SE/?SID=SV_eo1QIMoUtvmteQZ" target="_blank">Report a Problem with the Repositories</a></li>
                <li><a href="https://library.duke.edu/repositories">About Digital Repositories at Duke</a></li>
                <li><a href="https://library.duke.edu/using/policies/repository-accessibility">Accessibility Policy</a></li>
                <li><a href="https://library.duke.edu/using/policies/dmca-takedown">Deaccession and DMCA Takedown Policy</a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="col-md-3 mb-3">

        <h2 class="social-media-icons">

          <a href="https://www.linkedin.com/company/duke-university-libraries/" title="LinkedIn" class="fab fa-linkedin"><span class="sr-only">LinkedIn</span></a>

          <a href="https://www.facebook.com/dukelibraries" title="Facebook" class="fab fa-facebook"><span class="sr-only">Facebook</span></a>

          <a href="https://www.youtube.com/user/DukeUnivLibraries" title="YouTube" class="fab fa-youtube"><span class="sr-only">YouTube</span></a>

          <a href="https://www.flickr.com/photos/dukeunivlibraries/" title="Flickr" class="fab fa-flickr"><span class="sr-only">Flickr</span></a>

          <a href="https://instagram.com/dukelibraries" title="Instagram" class="fab fa-instagram"><span class="sr-only">Instagram</span></a>

          <a href="https://blogs.library.duke.edu/" title="Blogs" class="fas fa-rss-square"><span class="sr-only">Blogs</span></a>

        </h2>

        <ul class="list-unstyled">
          <li><a href="https://library.duke.edu/about/sign-our-newsletter">Sign Up for Our Newsletter</a></li>
          <li><a href="https://library.duke.edu/about/reuse-attribution">Re-use &amp; Attribution</a> / <a href="https://library.duke.edu/about/privacy">Privacy</a></li>
          <li><a href="https://library.duke.edu/about/statement-potentially-harmful-language-library-descriptions">Harmful Language Statement</a></li>
          <li><a href="https://library.duke.edu/support">Support the Libraries</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3">
        <div id="duke-logo" class="mb-3">
          <a href="https://www.duke.edu"><img class="img-fluid" alt="Duke University" src="/assets/dukespace/images/duke_gray.png"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
