@import '../../../../../../../app/item-page/simple/item-types/untyped-item/untyped-item.component.scss';
@import '../../../../../styles/theme_sass_variable_overrides';
@import '../../../../../styles/theme_mixins';

.field-heading {
  margin-bottom: 5px;
  font-weight: 700;
  color: #666;
  font-size: 18px;
}


.embargo-head {
  font-size: 1.2rem;
}

/* -------------------------- */
/* ATTENTION & CITATION STATS */
/* -------------------------- */

#citation-stats {
  // If the Dimensions badge is not present, hide the heading too.
  &:not(:has(img)) {
    display: none;
  }
  .__dimensions_badge_embed__ {
    margin-bottom: 1em;
  }
}

#attention-stats {
  // If the Altmetric badge is not present, hide the heading too.
  &:not(:has(img)) {
    display: none;
  }
}

/* ------------------------- */
/*   SCHOLARS@DUKE PROFILES  */
/* ------------------------- */
#scholars-at-duke-heading {
  a:hover {
    text-decoration: none;
    border-bottom: 1px dotted $text-muted;
  }
  .scholars-head-scholars {
    color: $duke-navy-blue;
  }
  .scholars-head-at {
    color: $text-muted;
  }
  .scholars-head-duke {
    color: $duke-navy-blue;
    text-transform: uppercase;
    font-weight: 700;
  }
}

#scholars-profiles {
  .media {
    background: $duke-navy-blue;
    border-top: 10px solid $dandelion;
    &.long-scholars-list {
      display: none;
    }
    img.scholars-thumb {
      width: 140px;
    }
    .media-body {
      background-color: $dul-masthead-blue;
      .scholars-name a {
        color: white;
        text-decoration: none;
        @include font-weight-semibold;
        &:hover {
          text-decoration: underline;
        }
      }
      .scholars-title {
        color: $dandelion;
        font-size: 1.3rem;
        @include font-weight-semibold;
      }
      .scholars-overview {
        color: $gray-200;
        display: block;
        display: -webkit-box;
        height: 89.6px;
        margin: 0 auto;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}

// This ::ng-deep seems to be needed to style these links given how
// the content is loaded via the [innerHTML] property
::ng-deep {
  .scholars-overview a {
    color: white !important;
    font-weight: bold;
  }
}

// TODO: Render these elements in the component HTML and
// refactor these styles using more SCSS.
#scholars-profiles .scholars-former-duke {
  color: #eee;
  line-height: 1.4em;
  font-style: italic; }

#scholars-profiles .scholars-overview + .scholars-former-duke {
  margin-top: 12px; }

#scholars-profiles a.toggle-scholars-list {
  display: block;
  background: #f7f7f7;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none !important;
  content: "More Authors"; }
  #scholars-profiles a.toggle-scholars-list:after {
    content: "\f0d7";
    font-family: FontAwesome;
    margin-left: 5px; }
  #scholars-profiles a.toggle-scholars-list.expanded {
    content: "Collapse"; }
    #scholars-profiles a.toggle-scholars-list.expanded:after {
      content: "\f0d8"; }
  #scholars-profiles a.toggle-scholars-list:hover {
    background: #eee; }

#scholars-profiles .scholars-disclaimer {
  position: relative;
  margin-top: 12px;
  color: #767676;
  font-size: 90%;
  padding-left: 20px; }
  #scholars-profiles .scholars-disclaimer:before {
    content: "\f071";
    font-family: FontAwesome;
    left: 0px;
    position: absolute;
    top: 0; }
  #scholars-profiles .scholars-disclaimer a {
    color: inherit;
    text-decoration: none !important;
    border-bottom: dotted 1px #777; }
