<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-themed-item-page-title-field [item]="object" class="mr-auto">
  </ds-themed-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-3">
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
          <!-- DUL CUSTOMIZATION: only display the thumbnail here if we actually -->
          <!-- have one. -->
          <ds-thumbnail-link [thumbnail]="object?.thumbnail | async" [item]="object" *ngIf="(object?.thumbnail | async)?.payload" class="bg-secondary d-flex justify-content-center p-3"></ds-thumbnail-link>
      </ds-metadata-field-wrapper>
    </ng-container>

    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>

    <!--* DUL CUSTOMIZATION: add embargo info -->
    <ng-container *ngIf="(accessStatus$ | async) == 'embargo'">
      <div class="alert alert-warning embargo-warning">
        <div class="text-danger font-weight-bold embargo-head">
          <span class="fas fa-lock"></span> Limited Access
        </div>
        <div class="embargo-terms">
          This item is unavailable until:<br/>
          <span [innerHTML]="getEmbargoReleaseDate() | date:'yyyy-MM-dd'" class="font-weight-semibold"></span>
        </div>
      </div>
    </ng-container>

    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>

    <!--* DUL CUSTOMIZATION: fix up date display -->
    <div *ngIf="shortenIssueDate()" class="simple-view-element">
      <h2 class="h5">Date</h2>
      <p [innerHTML]="shortenIssueDate()"></p>
    </div>

    <ng-container *ngIf="object.metadata.hasOwnProperty('dc.contributor.author')">
      <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataFields]="['dc.contributor.author']"
        [label]="'relationships.isAuthorOf' | translate"
        [associatedMetadataFields]="['duke.contributor.id', 'duke.contributor.orcid']">
      </ds-themed-metadata-representation-list>
    </ng-container>
    <ng-container *ngIf="object.metadata.hasOwnProperty('dc.creator')">
      <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataFields]="['dc.creator']"
        [label]="'relationships.isCreatorOf' | translate"
        [associatedMetadataFields]="['duke.contributor.id', 'duke.contributor.orcid']">
      </ds-themed-metadata-representation-list>
    </ng-container>
    <ng-container *ngIf="object.metadata.hasOwnProperty('dc.contributor.editor')">
      <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataFields]="['dc.contributor.editor']"
        [label]="'relationships.isEditorOf' | translate"
        [associatedMetadataFields]="['duke.contributor.id', 'duke.contributor.orcid']">
      </ds-themed-metadata-representation-list>
    </ng-container>
    <ng-container *ngIf="object.metadata.hasOwnProperty('dc.contributor.advisor')">
      <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataFields]="['dc.contributor.advisor']"
        [label]="'relationships.isAdvisorOf' | translate"
        [associatedMetadataFields]="['duke.contributor.id', 'duke.contributor.orcid']">
      </ds-themed-metadata-representation-list>
    </ng-container>
    <ng-container *ngIf="object.metadata.hasOwnProperty('dc.contributor')">
      <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataFields]="['dc.contributor']"
        [label]="'relationships.isContributorOf' | translate"
        [associatedMetadataFields]="['duke.contributor.id', 'duke.contributor.orcid']">
      </ds-themed-metadata-representation-list>
    </ng-container>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'item.page.journal-title'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'">
    </ds-generic-item-page-field>
    <ds-item-page-statistics-widget [item]="object"></ds-item-page-statistics-widget>
    <ng-container *ngIf="getDOIForQuery()">
      <div id="citation-stats">
        <h2 class="h5">Citation Stats</h2>
        <div class="__dimensions_badge_embed__" [attr.data-doi]="getDOIForQuery()"
        data-hide-zero-citations="true"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="(isAltmetricsAccessible$ | async)">
      <div id="attention-stats">
        <h2 class="h5">Attention Stats</h2>
        <div class="altmetric-embed" data-badge-details="right" data-badge-type="medium-donut"
        data-hide-no-mentions="true" [attr.data-doi]="getDOIForQuery()"
        [attr.data-handle]="getHandle()"></div>
      </div>
    </ng-container>
  </div>

  <div class="col-xs-12 col-md-8 col-lg-9">
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.type']"
      [label]="'item.page.type'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.department']"
      [label]="'item.page.department'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.description'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dcterms.provenance']"
      [label]="'item.page.provenance'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="', '"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>

    <!--* DUL CUSTOMIZATION: linkify rights URIs & give them -->
    <!--* classes to enhance w/CC & RightsStatements badges  -->
    <ds-generic-item-page-field *ngIf="object.metadata.hasOwnProperty('dc.rights.uri')"
      [item]="object"
      [fields]="['dc.rights.uri']"
      [label]="'item.page.rights-uri'"
      [urlRegex]="'^https?://'"
      [attr.class]="'item-rights-uri'"
      [attr.rel]="'license'">
    </ds-generic-item-page-field>

    <div *ngIf="getDOIAsURL()" class="simple-view-element">
      <h2 class="h5">Published Version <small>(Please cite this version)</small></h2>
      <p [innerHTML]="getDOIAsURL()"></p>
    </div>

    <ds-item-page-citation [metadata]="object.metadata"></ds-item-page-citation>

    <ds-item-page-collections [item]="object"></ds-item-page-collections>

    <div class="mb-4">
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>

    <div *ngIf="scholarsProfiles.length > 0" id="scholars-profiles" class="mt-2">
      <h3 id="scholars-at-duke-heading" class="mb-3"><a href="https://scholars.duke.edu"><span class="scholars-head-scholars">Scholars</span><span class="scholars-head-at">@</span><span class="scholars-head-duke">Duke</span></a></h3>
      <ng-container *ngFor="let p of scholarsProfiles">
        <ng-container *ngFor="let profile of (p | async)">
          <div *ngIf="profile.profileURL" class="media mb-3">
            <a *ngIf="profile.imageThumbnailUri" [attr.href]="profile.profileURL">
              <img class="scholars-thumb" [attr.src]="profile.imageThumbnailUri" [attr.alt]="profile.lastName">
            </a>
            <div class="media-body p-4">
                <h4 class="scholars-name mb-0"><a [attr.href]="profile.profileURL">{{ profile.firstName }} {{ profile.middleName }} {{ profile.lastName }}</a></h4>
                <div class="scholars-title mb-2">{{ profile.preferredTitle }}</div>
                <div *ngIf="profile.overview" class="scholars-overview" [innerHTML]="profile.overview | dsMarkdown | async"></div>
            </div>
          </div>
        </ng-container>
      </ng-container>
   </div>

    <!--* DUL CUSTOMIZATION: add parent collection's rights note -->
    <ng-container *ngVar="(object.owningCollection | async)?.payload?.metadata['dc.rights']?.[0]?.value as collectionRights">
      <div *ngIf="collectionRights">
        <hr />
        <div class="collection-rights-note">
          <span [innerHTML]="collectionRights | dsMarkdown | async"></span>
        </div>
      </div>
    </ng-container>

  </div>
</div>
