<div class="outer-wrapper" [class.d-none]="shouldShowFullscreenLoader" [@slideSidebarPadding]="{
     value: (!(isSidebarVisible$ | async) ? 'hidden' : (slideSidebarOver$ | async) ? 'unpinned' : 'pinned'),
     params: { collapsedWidth: (collapsedSidebarWidth$ | async), expandedWidth: (expandedSidebarWidth$ | async) }
    }">

  <!--* DUL CUSTOMIZATION: custom skip links for accessibility -->
  <!--* NOTE: as of 7.6.1 DSpace adds a skip link, but it's only to main content -->
  <!--* so our custom nav here is still preferred. -->
  <nav id="skip-link" role="navigation" aria-label="skip links">
    <a href="#" id="skip-to-main" (click)="skipToLink('main-content')" class="sr-only sr-only-focusable py-2 px-3">Skip to Main Content</a>
    <a href="#" id="skip-to-search" (click)="skipToComponent('ds-search-form')" class="sr-only sr-only-focusable py-2 px-3">Skip to Search</a>
    <a href="#" id="skip-to-first" (click)="skipToComponent('ds-search-results')" class="sr-only sr-only-focusable py-2 px-3">Skip to First Result</a>
    <a href="#" id="skip-to-facet" (click)="skipToComponent('ds-search-filters')" class="sr-only sr-only-focusable py-2 px-3">Skip to Filters</a>
    <a href="#" id="skip-to-admin" (click)="skipToComponent('ds-admin-sidebar')" class="sr-only sr-only-focusable py-2 px-3">Skip to Admin Sidebar</a>
  </nav>

  <ds-themed-admin-sidebar [expandedSidebarWidth$]="expandedSidebarWidth$" [collapsedSidebarWidth$]="collapsedSidebarWidth$"></ds-themed-admin-sidebar>
  <div class="inner-wrapper">

  <ds-system-wide-alert-banner></ds-system-wide-alert-banner>
  <ds-themed-header-navbar-wrapper></ds-themed-header-navbar-wrapper>

  <main class="my-cs" id="main-content">
    <ds-themed-breadcrumbs></ds-themed-breadcrumbs>

    <div class="container d-flex justify-content-center align-items-center h-100 min-vh-100 loader" *ngIf="shouldShowRouteLoader">
      <ds-themed-loading [showMessage]="false"></ds-themed-loading>
    </div>
    <div [class.d-none]="shouldShowRouteLoader">
      <router-outlet></router-outlet>
    </div>
  </main>

  <ds-themed-footer></ds-themed-footer>
  </div>
  </div>

  <ds-notifications-board [options]="notificationOptions">
  </ds-notifications-board>

  <div class="ds-full-screen-loader" *ngIf="shouldShowFullscreenLoader">
  <ds-themed-loading [showMessage]="false"></ds-themed-loading>
</div>
