<div class="container">
  <h1>{{ 'workspace-item.delete.header' | translate }}</h1>
  <ds-modify-item-overview *ngIf="(dso$ | async)" [item]="(dso$ | async)"></ds-modify-item-overview>
  <button class="btn btn-default" (click)="previousPage()">{{ 'workspace-item.delete.button.cancel' | translate }}</button>
  <button class="btn btn-danger" (click)="$event.preventDefault();confirmDelete(content)">{{ 'workspace-item.delete.button.confirm' | translate }}</button>
</div>

<ng-template #content let-c="close" let-d="dismiss" id="delete-modal">
  <div class="modal-header" id="workspaceitems-delete-page-header">
    <h4 class="modal-title text-danger">{{ 'workspace-item.delete.header' | translate }}</h4>
    <button type="button" id="delete_close" class="close" aria-label="Close" (click)="d('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ 'submission.general.discard.confirm.info' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" id="delete_cancel" class="btn btn-secondary"
      (click)="c('cancel')">{{ 'submission.general.discard.confirm.cancel' | translate }}</button>
    <button type="button" id="delete_confirm" class="btn btn-danger"
      (click)="c('ok')">{{ 'submission.general.discard.confirm.submit' | translate }}</button>
  </div>
</ng-template>
