<div class="jumbotron jumbotron-fluid p-0">
  <div class="overlay">
    <div class="container">
      <div class="text-center">
        <div>
          <h1 class="display-3 font-weight-bold">{{'repository.title' | translate}}</h1>
          <p class="lead font-weight-normal text-warning">Find and submit publications, theses, and dissertations by Duke faculty and students.</p>
        </div>
        <div>
          <ds-themed-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-themed-search-form>
        </div>
      </div>
    </div>
  </div>
</div>
