.jumbotron {
  background-image: url('/assets/dukespace/images/duke-gothic-jumbo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white !important;
  min-height: 450px;
  .overlay {
    display: block;
    background: rgb(0,0,0);
    background: radial-gradient(circle,
                              rgba(0,0,0,0) 0%,
                              rgba(0,0,0,0.5) 0%,
                              rgba(0,0,0,0) 100%);
    padding: 4rem 2rem;
    min-height: 450px;
  }
  .lead {
    font-size: 1.4rem;
  }
}
