// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

/* =========================================== */
/* General Layout                              */
/* =========================================== */

body {
  background-color: $whisper-gray;
}

#header-navbar-wrapper {
  position: relative;
  z-index: var(--ds-nav-z-index);
  border-bottom: none !important;
}

ds-navbar {
  nav.navbar {
    background-color: var(--ds-navbar-bg);
    z-index: var(--ds-nav-z-index);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),
                0 2px 2px rgba(0, 0, 0, 0.06),
                0 4px 4px rgba(0, 0, 0, 0.06),
                0 8px 8px rgba(0, 0, 0, 0.06),
                0 16px 16px rgba(0, 0, 0, 0.06);
    border-bottom: none !important;
  }

  .ds-menu-item-wrapper > ds-link-menu-item > a.ds-menu-item,
  ds-expandable-navbar-section .ds-menu-toggler-wrapper,
  ds-expandable-navbar-section ds-text-menu-item .ds-menu-item {
    color: white !important;
    @include font-weight-semibold;
    font-size: 1.1rem;
    padding: 0.75rem;
    &:hover, :active, :focus {
      color: $dandelion !important;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#main-content {
  margin-top: 0;
  margin-bottom: 0;
}

// Suppress display of the footer if the main content has content
// loading indicators. This is a workaround to prevent interstitial
// flashes of the footer while navigating between pages.
#main-content:has(ds-themed-loading) + ds-themed-footer {
  display: none;
}

// Suppress Klaro cookie consent popup
#klaro {
  display: none;
}

ds-home-page {
  display: block;
}

ds-home-news ds-search-form {
  .input-group {
    justify-content: center;
  }
  input[type="text"] {
    font-size: 1.25rem;
    max-width: 45rem;
    &:focus {
      outline: 2px solid $dandelion;
    }
  }
}

.breadcrumb {
  margin-bottom: 0;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.item-page-title-field {
  margin-bottom: 1.5rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: tint($whisper-gray, 50%);
}

ds-search-form {
  .scope-button {
    color: $black;
    background-color: $whisper-gray;
  }
}

.facet-filter, .setting-option {
  border-color: $gray-200 !important;
}

/* =========================================== */
/* Get main page body to have white background */
/* This is a little tricky with the way the    */
/* base markup is structured.                  */
/* =========================================== */

ds-admin-curation-task,
ds-batch-import-page,
ds-bitstream-formats,
ds-browse-by-date-page,
ds-browse-by-metadata-page,
ds-browse-by-title-page,
ds-collection-page,
ds-community-list-page,
ds-community-page,
ds-create-community,
ds-edit-bitstream-page,
ds-edit-collection,
ds-edit-community,
ds-edit-item-page,
ds-epeople-registry,
ds-full-item-page,
ds-groups-registry,
ds-health-page,
ds-home-page,
ds-item-delete,
ds-item-page,
ds-item-statistics-page,
ds-metadata-import-page,
ds-metadata-registry,
ds-my-dspace-page,
ds-page-internal-server-error,
ds-page-with-sidebar,
ds-pagenotfound,
ds-process-detail,
ds-process-overview,
ds-register-email,
ds-site-statistics-page,
ds-submission-form,
ds-system-wide-alert-form {
  > .container, > .container-fluid {
    background: white;
    padding: 30px;
  }
}

/* =========================================== */
/* Search & Browse Results                     */
/* =========================================== */

ds-community-search-result-list-element,
ds-collection-search-result-list-element,
ds-item-search-result-list-element {
  a.lead {
    @include font-weight-semibold;
  }

  /* Search term hit highlights */
  em {
    background-color: tint($dandelion, 60%);
    color: inherit;
    padding: 0 0.15em;
  }

  /* 4.5:1 contrast ratio for a11y on highlights in lighter fields */
  .item-list-authors, .abstract-text {
    em {
      color: var(--bs-body-color);
    }
  }
}

.item-list-abstract {
  margin-top: 0.75rem;
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: 600;
  }
}

ds-browse-by ds-object-list {
  ul li {
    &.mt-4, &.mb-4 {
      margin-top: 0 !important;
      margin-bottom: 0.75rem !important;
    }
  }
}

ds-browse-entry-list-element {
  a {
    font-size: 1rem;
  }
}

/* =========================================== */
/* Item Page                                   */
/* =========================================== */

h2.item-page-title-field {
  @include font-weight-semibold;
  margin-bottom: 2.25rem;
}

ds-community-list cdk-tree {
  a {
    @include font-weight-semibold;
  }
}

ds-community-list-element, ds-collection-list-element {
  a {
    @include font-weight-semibold;
  }
}

td > p {
  margin-top: unset;
  margin-bottom: unset;
}

td > p ~ p {
  margin-top: 1rem;
}

.scholars-icon-link {
  margin-left: 0.4em;
  text-decoration: none !important;
  display: inline-block;
  font-size: inherit;
  background-image: url("../assets/images/icons/scholars-at-duke-icon.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px; }

.orcid-badge-link {
  margin-left: 0.3em;
  display: inline-block;
  font-size: inherit;
  background-image: url("../assets/images/icons/orcid_16x16.png");
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  position: relative;
  top: 4px; }

.citation-disclaimer {
  position: relative;
  margin-top: 12px;
  color: #767676;
  font-size: 90%;
  padding-left: 20px;
  a {
    color: inherit;
    text-decoration: none !important;
    border-bottom: dotted 1px #777;
  }
}
.citation-disclaimer::before {
  content: "⚠";
  left: 0px;
  position: absolute;
  top: 0;
}

.simple-view-element-body {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: 600;
  }
}

/* =========================================== */
/* Log in UI                                   */
/* =========================================== */

/* Simplify the dropdown login. If the environment supports  */
/* both password & netid authentication, hide the password   */
/* option & related links, since almost no one will need it. */
/* Keep password options visible at /login for rare cases    */
/* when needed.                                              */
#loginDropdownMenu {
  min-height: auto !important;
  ds-log-in:has(ds-log-in-external-provider) {
    ds-log-in-password,
    span.align-middle,
    .dropdown-divider,
    a[href="/register"],
    a[href="/forgot"] {
      display: none;
    }
  }
}

// Suppress language tagging (DUK-59)
.ds-lang-cell {
  display: none;
}
