// Buttons
// -----------------------------------------------------------------------------

// Note that Bootstrap 4 handles a lot of button styling natively
// including toggling light/dark text for accessibility. However
// it doesn't always get to 4.5:1 contrast ratio, so sometimes
// it needs a little help.
//
// This file includes some extensions and local button styles.

// ==============================
// Button Extensions for A11Y
// ==============================

.btn {
  &.btn-primary:hover {
    background-color: shade($primary, 45%);
    border-color: shade($primary, 50%);
  }

  &.btn-outline-secondary {
    color: $gray-700;
    border-color: $gray-400;
    &:hover, &:active, &.active {
      border-color: $gray-400 !important;
    }
    &:focus {
      border-color: $primary-link-color !important;
    }
    &.disabled, &:disabled {
      background: $gray-100;
      border-color: $gray-300;
      color: $gray-300;
    }
  }

  &.btn-outline-warning {
    color: shade($warning, 46.3%);
    &.disabled, &:disabled {
      background: $gray-100;
      border-color: $gray-300;
      color: $gray-300;
    }
  }

  &.btn-outline-success {
    color: shade($success, 31%);
  }

  &.btn-outline-light {
    color: $gray-400;
    border-color: $gray-200;
  }

  &.btn-success {
    color: shade($success, 75%);
    border-color: $success;
    background-color: tint($success, 25%);
    @include font-weight-semibold;
    &:hover {
      background-color: shade($success, 25%);
      color: white;
   }
  }

  &.btn-warning {
    background-color: $warning;
    border: none;
    &:hover {
        background-color: shade($warning, 10%);
    }
    &:disabled {
        background-color: transparent;
    }
    &:focus {
        outline-color: shade($warning, 22%);
    }
  }
}


// =================================
// Community/Collection Tree Buttons
// =================================

cdk-tree-node button {
  padding-bottom: 0 !important;
}

// ==============================
// File Download Buttons
// ==============================

ds-themed-file-download-link {
  display: block;
  a.btn {
    display: flex;
    line-height: 1.25rem;
    .download-icon {
      margin-top: 0.5rem;
      margin-right: 0.75rem;
      font-size: 1.75rem;
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f56d";
      }
      &[data-extension="csv"]::before {
        content: "\f6dd"
      }
      &[data-extension="pdf"]::before {
        content: "\f1c1"
      }
      &[data-extension^="doc"]::before {
        content: "\f1c2"
      }
      &[data-extension^="xls"]::before {
        content: "\f1c3"
      }
      &[data-extension^="ppt"]::before {
        content: "\f1c4"
      }
      &[data-extension^="zip"]::before,
      &[data-extension^="gzip"]::before,
      &[data-extension^="tar"]::before {
        content: "\f1c6"
      }
      &[data-extension="jpg"]::before,
      &[data-extension="jpeg"]::before,
      &[data-extension="bmp"]::before,
      &[data-extension^="tif"]::before,
      &[data-extension^="png"]::before,
      &[data-extension="gif"]::before {
        content: "\f1c5"
      }
      &[data-extension="mp3"]::before,
      &[data-extension="wav"]::before,
      &[data-extension="aac"]::before,
      &[data-extension="wma"]::before,
      &[data-extension="oga"]::before {
        content: "\f1c7"
      }
      &[data-extension="mp4"]::before,
      &[data-extension="avi"]::before,
      &[data-extension="wmv"]::before,
      &[data-extension="mpeg"]::before,
      &[data-extension="ogv"]::before {
        content: "\f1c8"
      }
      &[data-extension^="htm"]::before,
      &[data-extension="xml"]::before {
        content: "\f1c9"
      }
    }
  }

}