// Override or add CSS variables for your theme here

:root {
  --ds-admin-sidebar-link-color: #{$gray-300};
  --ds-admin-sidebar-link-hover-color: #{$dandelion};
  --ds-breadcrumb-bg: #{$whisper-gray} !important;
  --ds-breadcrumb-link-color: #{$primary-link-color};
  --ds-breadcrumb-link-active-color: #{$black};
  --ds-expandable-navbar-bg: #fff;
  --ds-header-bg: #{$dul-masthead-blue};
  --ds-header-logo-height: 50px;
  --ds-header-logo-height-xs: 50px;
  --ds-header-bg: #{$dul-masthead-blue};
  --ds-header-icon-color: #fff;
  --ds-header-icon-color-hover: #{$dandelion};
  --ds-header-navbar-border-top-color: #fff;
  --ds-header-navbar-border-bottom-color: #ced4da;
  --ds-navbar-bg: #{$duke-navy-blue};
  --ds-navbar-link-color: #{$primary-link-color};
  --ds-navbar-link-color-hover: #{$link-hover-color};
  --ds-thumbnail-max-width: 225px;
  --ds-search-form-scope-max-width: 225px;
}
