.font-weight-semibold {
  @include font-weight-semibold;
}

a.underlined-link {
  @include underlined-link;
}

.text-warning {
  color: $warning !important;
}

.text-secondary {
  color: $text-muted !important;
}

// Get color contrast over 4.5:1 for a11y
.alert.alert-warning {
  color: shade($warning, 49%);
}

/* Certain elements can be expected to have inline links */
/* and those need to be distinguishable from surrounding */
/* text using a property other than color for a11y.      */
.collection-rights-note,
.simple-item-view-citation,
ds-comcol-page-content {
  a {
    @include underlined-link;
  }
}
