/* =========================================== */
/* Skip Links                                  */
/* =========================================== */
#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 25;

  a:focus {
    background-color: $white;
  }
}

ds-root:not(:has(ds-search-filters)) {
  #skip-to-facet {
    display: none !important;
  }
}

ds-root:not(:has(ds-search-form)) {
  #skip-to-search {
    display: none !important;
  }
}

ds-root:not(:has(ds-search-results)) {
  #skip-to-first {
    display: none !important;
  }
}

ds-root:not(:has(ds-admin-sidebar nav)) {
  #skip-to-admin {
    display: none !important;
  }
}
