// ==============================================
// CREATIVE COMMONS & RIGHTSSTATEMENTS.ORG BADGES
// ==============================================
$cc-licenses: "by", "by-nc", "by-nc-nd", "by-nc-sa", "by-nd", "by-sa";
$rights-statements: "CNE", "InC-EDU", "InC-NC", "InC-OW-EU", "InC-RUU", "InC", "NKC", "NoC-CR", "NoC-NC", "NoC-OKLR", "NoC-US", "UND";

// Badge Image Sources:
// https://creativecommons.org/mission/downloads/
// https://rightsstatements.org/en/documentation/assets

.item-rights-uri {
  a {
    display: inline-block;
    &[href*="creativecommons.org"], &[href*="rightsstatements.org"] {
      &::before {
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        width: auto;
        height: 40px;
        display: block;
      }
    }
    @each $license in $cc-licenses {
      &[href*="creativecommons.org/licenses/#{$license}/"] {
        &::before {
          background-image: url("../assets/images/badges/creativecommons/#{$license}.png");
        }
      }
    }
    @each $statement in $rights-statements {
      &[href*="rightsstatements.org/vocab/#{$statement}/"] {
        &::before {
          background-image: url("../assets/images/badges/rightsstatements/#{$statement}.png");
        }
      }
    }
    &:not(:first-of-type) {
      margin-top: 0.75rem;
    }
  }
}
