/* Styles for the Web Submission User Interface */
/* https://wiki.lyrasis.org/display/DSDOC7x/Submission+User+Interface */

/* We suppress the display of the built-in DS7 CC license selector -- we will */
/* provide the dc.rights.uri value via a Template Item instead and not allow  */
/* the submitter to change that value. */
#sectionContent_cclicense:has(input[type='checkbox']) .ccLicense-select { display: none }

.dukespace-embargo {
  color: black;
  font-weight: bold;
}