<ng-container *ngVar="(bitstreams$ | async) as bitstreams">
  <!-- DUL CUSTOMIZATION: we don't need a label if there's only one file -->
  <ds-metadata-field-wrapper *ngIf="bitstreams?.length > 0" [label]="bitstreams?.length > 1 ? (label | translate) : null">
    <div class="file-section">

      <!-- DUL CUSTOMIZATION: present the download links differently depending -->
      <!-- on whether there's a single file (vast majority of DukeSpace) or multiple -->

      <div *ngIf="bitstreams.length == 1; then singleFile else multiFile"></div>

      <ng-template #singleFile>
        <ds-themed-file-download-link
          *ngFor="let file of bitstreams"
          [bitstream]="file"
          [item]="item"
          [cssClasses]="'btn btn-primary text-left w-100 mb-2'"
          [ngbTooltip]="dsoNameService.getName(file)"
          [placement]="['right', 'bottom']">
          <div class="download-icon" [attr.data-extension]="dsoNameService.getName(file).split('.').pop() | lowercase"></div>
          <div>
            <span class="font-weight-bold">View / Download</span>
            <span class="small d-block">{{(file?.sizeBytes) | dsFileSize }}</span>
          </div>
        </ds-themed-file-download-link>
      </ng-template>

      <ng-template #multiFile>
        <ds-themed-file-download-link
          *ngFor="let file of bitstreams; let last=last;"
          [bitstream]="file"
          [item]="item"
          [cssClasses]="'btn btn-secondary text-left w-100 mb-2'">
          <div class="download-icon" [attr.data-extension]="dsoNameService.getName(file).split('.').pop() | lowercase"></div>
          <div>
            <span class="font-weight-bold">{{ dsoNameService.getName(file) }}</span>
            <span class="small d-block">{{(file?.sizeBytes) | dsFileSize }}</span>
          </div>
        </ds-themed-file-download-link>
      </ng-template>

      <ds-themed-loading *ngIf="isLoading" message="{{'loading.default' | translate}}" [showMessage]="false"></ds-themed-loading>
      <div *ngIf="!isLastPage" class="mt-1" id="view-more">
        <button class="bitstream-view-more btn btn-outline-secondary btn-sm" (click)="getNextPage()">{{'item.page.bitstreams.view-more' | translate}}</button>
      </div>
      <div *ngIf="isLastPage && currentPage != 1" class="mt-1" id="collapse">
        <button class="bitstream-collapse btn btn-outline-secondary btn-sm" (click)="currentPage = undefined; getNextPage();">{{'item.page.bitstreams.collapse' | translate}}</button>
      </div>
    </div>
  </ds-metadata-field-wrapper>
</ng-container>
