<div>
  <div *ngIf="item && !item.isDiscoverable" class="private-warning">
      <ds-alert [type]="AlertTypeEnum.Warning" [content]="'item.alerts.private' | translate"></ds-alert>
  </div>

  <!--* DUL CUSTOMIZATION: create a linked tombstone display for -->
  <!--* withdrawn items, using a few metadata fields that are    -->
  <!--* custom-configured to be exposed via the REST-API.        -->
  <div *ngIf="item && item.isWithdrawn" class="withdrawn-warning">
      <ds-alert [type]="AlertTypeEnum.Warning">

        <div *ngIf="item.metadata['dc.relation.isreplacedby']">
          <h1>This item has moved to a new location</h1>
          <p>This version of the item you are trying to access has been withdrawn. The item is now available at: <a href="{{ item.metadata['dc.relation.isreplacedby'][0]?.value }}">{{ item.metadata['dc.relation.isreplacedby'][0]?.value }}</a></p>

          <p>
            <a class="btn btn-primary" href="{{ item.metadata['dc.relation.isreplacedby'][0]?.value }}" role="button">
              View Now
            </a>
          </p>
        </div>

        <div *ngIf="!item.metadata['dc.relation.isreplacedby']">
          <h1>This item has been withdrawn</h1>
          <p><a routerLink="/home" class="btn btn-primary">{{"404.link.home-page" | translate}}</a></p>
        </div>

        <div class="card">
          <div class="card-body">
            <ds-generic-item-page-field [item]="item" [fields]="['dc.title']" [attr.class]="'font-weight-bold'">
            </ds-generic-item-page-field>

            <ds-generic-item-page-field [item]="item" [fields]="['dc.date.issued']">
            </ds-generic-item-page-field>

            <ds-generic-item-page-field [item]="item" [fields]="['dcterms.provenance']">
            </ds-generic-item-page-field>
          </div>
        </div>
      </ds-alert>


    </div>
</div>
