<div *ngIf="citation" class="simple-item-view-citation item-page-field-wrapper table">
  <h2 class="h5">{{ heading }}</h2>
  <p [innerHTML]="(citation | dsMarkdown | async)"></p>
  <div *ngIf="disclaimer" class="citation-disclaimer" [innerHTML]="(disclaimer | dsMarkdown | async)"></div>
</div>
