a.stats-section-wrapper {
	background: #fafafa;
	display: block;
	float: left;
	width: 100%;
	color: #333;
	margin-bottom: 1rem;
	border-bottom: 4px solid #012169;
}

a.stats-section-wrapper > div {
  float: left
}

.stats-section-2 {
  border-left: dotted 2px #eee;
}

.stats-wrapper {
  text-align: center;
  padding: .5rem;
  .stats-count {
    font-size: 1.5rem;
  }
  .stats-type {
    font-size: small;
  }
}