

<ng-container *ngIf="(views$ | async) > 0 || (downloads$ | async) > 0">
  <h2 class="h5">Repository Usage Stats</h2>
  <a class="stats-section-wrapper" [attr.href]="'/statistics/items/' + item.uuid">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 stats-section-1">
      <div class="stats-wrapper">
        <span class="stats-count" [innerHTML]="views$ | async"></span>
        <br>
        <span class="stats-type">views</span>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6 stats-section-2">
      <div class="stats-wrapper">
        <span class="stats-count" [innerHTML]="downloads$ | async"></span>
        <br>
        <span class="stats-type">downloads</span>
      </div>
    </div>
  </a>
</ng-container>

