.item-list-fulltext {
  margin-top: 0.75rem;
}

span.fulltext {
  white-space: normal;
}

span.fulltext::before {
  content: '“ ';
  font-size: 2em;
  line-height: .5em;
  vertical-align: middle;
}

span.fulltext::after {
  content: ' ”';
  font-size: 2em;
  line-height: .5em;
  vertical-align: middle;
}